// HOMPAGE VIDEO    

.home-video {
  position: relative;
  margin: 50px 0;
}

#video_home {
  width: 100%;
}

.volume-logo {
  height: 30px;
  width: 30px;
  opacity: 0.3;
  position: absolute;
  bottom: 10px;
  left: 15px;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.volume-toggle {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.home-services-section {
  display: flex;
  justify-content: center;
}

.home-service {
  display: flex;
  flex-direction: column;
  width: 210px;
  margin: 25px;
  img {
    height: 80px;
    margin: 20px auto;
  }
  @include for-medium-devices-down {
    margin: 25px 10px;
  }
}

.home-service-title {
  color: $primary-blue;
  text-align: center;
  border-bottom: 2px solid #ADADAD;
  font-size: 18px;
  padding-bottom: 5px;
}

.home-service-text {
  color: #ADADAD;
  text-align: center;
  font-size: 14px;
}

.test-block {
  height: 100px;
  width: 200px;
  background: $primary-blue;
  transform: skewY(-6deg);
  overflow: hidden;
}

.bananas-background {
  width: 100%;
  margin: 40px 0;
  position: relative;
  img {
    width: 100%;
  }
}

.bananas-text {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 5;
  margin: 0 80px;
  img {
    height: 50px;
    width: 50px;
  }
  a:hover {
    text-decoration: none;
  }
  @include for-medium-devices-down {
    a {
      display: none;
    }
    h3 {
      font-size: 20px;
    }
    p {
      margin-bottom: 0;
    }
  }
  @include for-small-devices-down {
    width: 100%;
    margin: 0;
    padding: 50px 80px 130px 80px;
  }
  @include for-phone-only {
    p {
      font-size: 12px;
    }
  }
}

.containers-background {
  width: 100%;
  margin: 40px 0 100px 0;
  position: relative;
  .bananas-text {
    left: auto;
    right: 0;
  }
  img {
    width: 100%;
  }
}

.bananas-background-web, .containers-background-web {
  @include for-small-devices-down {
    display: none;
  }
}

.bananas-background-mobile, .containers-background-mobile {
  @include for-medium-devices-up {
    display: none;
  }
}

.logo-holder-container {
  display: flex;
  justify-content: space-between;
  @include for-small-devices-down {
    flex-direction: column;
    align-items: center;
  }
}

.logo-holder {
  padding: 20px 50px;
  @include absCenter;
  img {
    width: 100%;
  }
}

.logo-holder-left {
  padding: 80px 50px 80px 0;
  width: 45%;
  @include for-small-devices-down {
    width: 100%;
    padding: 20px 50px;
  }
}

.logo-holder-right {
  padding: 80px 0 80px 50px;
  width: 25%;
  @include for-small-devices-down {
    width: 60%;
    padding: 20px 50px;

  }
}
