<div class="footer">
  <div class="footer-logo">
    <%= image_tag 'footer-claric-logo.jpg', class: "footer-claric-logo" %>
  </div>
  <div class="footer-contact">
    <div class="each-contact">
      <p style="margin-bottom: 5px;">Cartegena</p>
      <p><i class="fas fa-map-marker-alt"></i> Calle 37 No. 46-60</p>
      <p><i class="fas fa-phone"></i> +57 3404420</p>
    </div>
    <div class="each-contact">
      <p style="margin-bottom: 5px;">Medellin</p>
      <p><i class="fas fa-map-marker-alt"></i> Calle 37 No. 46-60</p>
      <p><i class="fas fa-phone"></i> +57 3404420</p>
    </div>
    <div class="each-contact">
      <p style="margin-bottom: 5px;">Barranquilla</p>
      <p><i class="fas fa-map-marker-alt"></i> Calle 37 No. 46-60</p>
      <p><i class="fas fa-phone"></i> +57 3404420</p>
    </div>
  </div>
</div>
<div class="footer-seo">
  <p>Hoxton Digital | <%= link_to 'Paginas & Web Aplicaciones', 'https://www.hoxton-digital.com', target: "_blank" %></p>
</div>
