<div class="footer">
  <div class="footer-logo">
    <%= image_tag 'footer-claric-logo.jpg', class: "footer-claric-logo" %>
  </div>
  <div class="footer-contact">
    <div class="each-contact">
      <p style="margin-bottom: 5px;">Barranquilla</p>
      <p style="color: #d7d9ea"><i class="fas fa-map-marker-alt"></i> Calle 37 No. 46-60</p>
      <p style="color: #d7d9ea"><i class="fas fa-phone"></i>+57 340 4420</p>
    </div>
    <div class="each-contact">
      <p style="margin-bottom: 5px;">Santa Marta</p>
      <p style="color: #d7d9ea"><i class="fas fa-map-marker-alt"></i>Calle 24 No 3 - 99 Of. 505 Edificio Banco de Bogotá</p>
      <p style="color: #d7d9ea"><i class="fas fa-phone"></i>+57 310 733 0565
      </p>
    </div>
    <div class="each-contact">
      <p style="margin-bottom: 5px;">Cartagena</p>
      <p style="color: #d7d9ea"><i class="fas fa-map-marker-alt"></i>Edificio Banco Popular Of. 805</p>
      <p style="color: #d7d9ea"><i class="fas fa-phone"></i>Telefax. 6645307</p>
    </div>
    <div class="each-contact">
      <p style="margin-bottom: 5px;">Bogotá</p>
      <p style="color: #d7d9ea"><i class="fas fa-map-marker-alt"></i>Avenida Calle 26 No 69D - 91 Of. 409 Centro Empresarial Arrecife Torre 2</p>
      <p style="color: #d7d9ea"><i class="fas fa-phone"></i>+57 704 2354</p>
    </div>
  </div>
</div>
<div class="footer-seo">
  <p><%= link_to'http s://www.hoxton-digital.com', target: "_blank" do %>
    <p>Hoxton Digital | <%= t('footer.seo') %></p>
    <% end %>
  </p>
</div>
