<div class="container">
  <div class="title-line-break-container" style="margin-top: 60px;">
    <div class="side-bar sb-left" style="border-right: 2px solid #5E5A5A;"></div>
    <div class="title-break">
        <div class="triangle-left" style="border-right: 15px solid #5E5A5A;"></div>
        <div class="middle-part" style="background: #5E5A5A;">
          <p>Nuestros Clientes</p>
        </div>
        <div class="triangle-right" style="border-left: 15px solid #5E5A5A;"></div>
    </div>
    <div class="side-bar sb-right" style="border-left: 2px solid #5E5A5A;"></div>
    <hr style="border-top: 2px solid #5E5A5A;">
  </div>
  <div class="nuestros-clientes">
    <p>Nuestros mayores clientes incluyen compañias en las siguentes industrias</p>
  </div>
  <div class="row" style="margin-bottom: 70px;">
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <div class="client-card-image" style="background-image: url('https://images.pexels.com/photos/70362/oil-monahans-texas-sunset-70362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        <p>Petrolera</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <div class="client-card-image" style="background-image: url('https://images.pexels.com/photos/454499/pexels-photo-454499.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        <p>Vidro Templado</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <div class="client-card-image" style="background-image: url('https://images.pexels.com/photos/459572/pexels-photo-459572.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        <p>Aluminio</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <div class="client-card-image" style="background-image: url('https://images.pexels.com/photos/159045/the-interior-of-the-repair-interior-design-159045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        <p>Pisos</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <div class="client-card-image" style="background-image: url('https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        <p>Marmol</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <div class="client-card-image" style="background-image: url('https://images.pexels.com/photos/1366942/pexels-photo-1366942.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
        <p>Productos Quimicos</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <div class="client-card-image" style="background-image: url('https://images.unsplash.com/photo-1523848309072-c199db53f137?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')"></div>
        <p>Mineria y Construccion</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <div class="client-card-image" style="background-image: url('https://cdn.pixabay.com/photo/2015/09/09/20/23/printer-933098_1280.jpg')"></div>
        <p>Imprenta</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <div class="clientes-card">
        <div class="client-card-image" style="background-image: url('https://cdn.pixabay.com/photo/2016/09/01/15/18/industrial-1636390_1280.jpg')"></div>
        <p>Suplementos Industriales</p>
      </div>
    </div>
  </div>
</div>
