<div class="title-line-break-container">
  <div class="side-bar sb-left"></div>
  <div class="title-break">
      <div class="triangle-left"></div>
      <div class="middle-part">
        <p>¿Que hacemos?</p>
      </div>
      <div class="triangle-right"></div>
  </div>
  <div class="side-bar sb-right"></div>
  <hr>
</div>
