<div class="container">
  <div class="main-header" style="margin-bottom: 0;">
    <hr>
      <div class="main-header-title-box" style="background: #306B40; ">
        <p>Servicios</p>
      </div>
    <hr>
  </div>
  <div class="servicios-banner">
    <p class="servicios-banner-text">Nuestro compromiso es satisfacer a nuestro clientes para fortalecer las buenas practicas en el comercio exterior del pais</p>
    <p class="servicios-banner-text">Por eso ofrecemos los cuatro pilares del exito comercial</p>
    <div class="servicios-options">
      <div class="each-option">
        <%= image_tag 'gazebo.png' %>
        <div class="each-option-content">
          <div class="each-option-number">
            <h3 style="color: #404778; font-weight: bold;">1</h3>
          </div>
          <div class="each-option-text">
            <p>Servicio de agenciamiento aduanero para <span style="color: #404778;">importaciones</span></p>
          </div>
        </div>
      </div>
      <div class="each-option">
        <%= image_tag 'gazebo.png' %>
        <div class="each-option-content">
          <div class="each-option-number">
            <h3 style="color: #404778; font-weight: bold;">2</h3>
          </div>
          <div class="each-option-text">
            <p>Servicio de agenciamiento aduanero para <span style="color: #404778;">exportaciones</span></p>
          </div>
        </div>
      </div>
      <div class="each-option">
        <%= image_tag 'gazebo.png' %>
        <div class="each-option-content">
          <div class="each-option-number">
            <h3 style="color: #404778; font-weight: bold;">3</h3>
          </div>
          <div class="each-option-text">
            <p>Servicio de <span style="color: #404778;">logisitica</span></p>
          </div>
        </div>
      </div>
      <div class="each-option">
        <%= image_tag 'gazebo.png' %>
        <div class="each-option-content">
          <div class="each-option-number">
            <h3 style="color: #404778; font-weight: bold;">4</h3>
          </div>
          <div class="each-option-text">
            <p>Asesoria en comercio <span style="color: #404778;">exterior</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="sub-header">CLARIC cuenta con la calidad certificada</h4>
  <div class="certificada-logos">

  </div>
</div>

