<div class="container" style="margin-bottom: 100px;">
  <div class="main-header" style="margin-bottom: 0;">
    <hr>
      <div class="main-header-title-box" style="background: #404778; ">
        <p>Somos Claric</p>
      </div>
    <hr>
  </div>
  <div class="somos-claric-banner">
    <%= image_tag 'footer-claric-logo.jpg', class: "footer-claric-logo" %>
    <p>En este 2017 celebramos nuestros primeros 50 anos en Columbia</p>
  </div>
  <div class="title-break-container">
    <div class="title-break">
      <div class="triangle-left"></div>
      <div class="middle-part">
        <p>¿Que hacemos?</p>
      </div>
      <div class="triangle-right"></div>
    </div>
  </div>
  <div class="somos-claric-text">
    <p>CLARIC opera como agente aduanero, prestando servicios de intermadiación aduanera en importación y exportación. Estamos presentes en los principales puertos marítimos y aéreos a lo largo del territorio nacional. Con 50 años de trayectoria en el país, nuestra compañia cuenta con la solidez y la experticia, y personal altamente capacitado que garantiza la excelenecia en los procesos. Operamos con transparencia, cumpliendo siempre con el compromiso directo con ustedes, nuestros clientes.</p>
  </div>
  <div class="title-break-container">
    <div class="title-break">
      <div class="triangle-left"></div>
      <div class="middle-part">
        <p>¿Como lo hacemos?</p>
      </div>
      <div class="triangle-right"></div>
    </div>
  </div>
  <div class="somos-claric-text">
    <p>Prestamos asesoría en la aplicación de regímenes aduaneros, requisitos para la importación y exportación de mercancías y demás trámites de transíto aduanero, cumpliendo con todas las reglamentaciones exigidas porl as autoridades. CALRIC LTD se encuentra certificada por SGS de Colombia bajo las normas ISO 9001:2008 / ISO 28000 a nivel nacional. Así mismo está certificada por BASC.</p>
  </div>
  <div class="title-break-container">
    <div class="title-break">
      <div class="triangle-left"></div>
      <div class="middle-part">
        <p>¿Por que lo hacemos?</p>
      </div>
      <div class="triangle-right"></div>
    </div>
  </div>
  <div class="somos-claric-text">
    <p>En 1967, Clara Moreno y Richard Williams consolidaron lo que es testimonio de dos mundos que se unen para ofrecer un servicio de alta calidad. Hoy, nuestro compromiso es la satisfacción de nuestros clientes para juntos fortalecer la competencia comercial en el territorio Colombiano y la proyección a nivel internacional.</p>
  </div>
</div>
